<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ee80ff57-138d-4f07-ae09-d5e0d47f4106" Publisher="CN=peter" Version="1.5.0.0" />
  <Properties>
    <DisplayName>Conglomo.AudioBible.Windows</DisplayName>
    <PublisherDisplayName>peter</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Conglomo.AudioBible.Windows.App">
      <m2:VisualElements DisplayName="AudioBible" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Audio Bible for Windows" ForegroundText="light" BackgroundColor="#000000">
        <m2:DefaultTile ShortName="Audio Bible" Wide310x150Logo="Assets\WideLogo.png" DefaultSize="square150x150Logo" Square70x70Logo="Assets\MediumLogo.png" Square310x310Logo="Assets\LargeLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Conglomo.AudioBible.App">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>